@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #cfdff5; */
}

@layer utilities {
  .max-width {
    @apply max-w-[1300px] mx-auto px-[24px];
  }
}

@layer components {
  .btn-hover-style {
    @apply rounded hover:bg-gray-300 py-1 px-[6px];
  }
}
