@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #cfdff5; */
}

@layer utilities {
  .max-width {
    @apply max-w-[1300px] mx-auto px-[24px];
  }
  .navbar-h {
    @apply h-[3.6rem];
  }
  .top-padding {
    @apply pt-[3.6rem];
  }

  .form-input {
    @apply block w-full border-2 rounded-md py-1 px-2 focus:outline-primary;
  }
}

@layer components {
  .btn-hover-style {
    @apply rounded hover:bg-gray-300 py-1 px-[6px];
  }

  .auth-form-wrapper {
    @apply shadow max-sm:w-full bg-white rounded-lg px-4 py-4 sm:px-8 sm:py-6;
  }
}
